html{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(12, 33, 71);
}

 center{
    color: rgb(126, 159, 219)
}
 
ul{
    color: rgb(126, 159, 219)
}

h1{
    font-size: 30px;
    color: rgb(126, 159, 219)
}

 li{ 
    color: rgb(126, 159, 219)
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    border: 2px;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: rgb(12, 33, 71);
    border: 10px solid rgb(13, 20, 77) ;

}

img{
    width: 600px;

}

ol{
    color: rgb(126, 159, 219)
}

#item2{
    color: rgb(228, 97, 206)
}

nav ul {
    padding: 10px;
    list-style-type: none;
    flex: 1;
    display: flex;
}

nav li{
    display: inline;
    text-align: center;
    
}

